<?xml version="1.0" encoding="utf-8" ?>
<Tree>
  <TreeNode Text="基本用法" Icon="House">
    <TreeNode Text="配置信息">
      <TreeNode Text="发布历史" NavigateUrl="http://fineui.com/version/index.html?from=demo">
      </TreeNode>
      <TreeNode Text="配置 Web.config" NavigateUrl="~/config/modify_webconfig.htm" >
      </TreeNode>
      <TreeNode Text="图标列表" NavigateUrl="~/config/icons.htm" >
      </TreeNode>
      <TreeNode Text="安装工具箱" NavigateUrl="~/config/install_toolbox.htm" >
      </TreeNode>
      <TreeNode Text="IIS6中启用GZIP压缩" NavigateUrl="~/config/enable_gzip_iis6.htm" >
      </TreeNode>
      <TreeNode Text="AJAX 属性列表" NavigateUrl="~/config/ajax.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="你好 FineUI" NavigateUrl="~/basic/hello.aspx" >
    </TreeNode>
    <TreeNode Text="你好 AspNet" NavigateUrl="~/basic/hello_aspnet.aspx">
    </TreeNode>
    <TreeNode Text="登录页面" NavigateUrl="~/basic/login.aspx" >
    </TreeNode>
    <TreeNode Text="登录页面（回车导航）" NavigateUrl="~/basic/login_enterkey.aspx" IsNew="true">
    </TreeNode>
    <TreeNode Text="登录页面（验证码）" NavigateUrl="~/basic/login_captcha.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="表单控件" Icon="ApplicationForm">
    <TreeNode Text="按钮控件" >
      <TreeNode Text="简单按钮" NavigateUrl="~/button/button.aspx" >
      </TreeNode>
      <TreeNode Text="按钮图标" NavigateUrl="~/button/button_icon.aspx" >
      </TreeNode>
      <TreeNode Text="按钮的点击事件" NavigateUrl="~/button/button_click.aspx" >
      </TreeNode>
      <TreeNode Text="链接按钮" NavigateUrl="~/button/button_linkbutton.aspx" >
      </TreeNode>
      <TreeNode Text="菜单按钮" NavigateUrl="~/button/button_menu.aspx" >
      </TreeNode>
      <TreeNode Text="菜单按钮（MenuID属性）" NavigateUrl="~/button/button_menu_menuid.aspx" >
      </TreeNode>
      <TreeNode Text="自定义按钮" NavigateUrl="~/button/button_custom.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="基本元素">
      <TreeNode Text="文本标签" NavigateUrl="~/form/label.aspx" >
      </TreeNode>
      <TreeNode Text="超链接" NavigateUrl="~/form/hyperlink.aspx" >
      </TreeNode>
      <TreeNode Text="图片控件" NavigateUrl="~/form/image.aspx" >
      </TreeNode>
      <TreeNode Text="提示信息" NavigateUrl="~/form/tooltip.aspx" >
      </TreeNode>
      <TreeNode Text="日期控件" NavigateUrl="~/form/calendar.aspx" >
      </TreeNode>
      <TreeNode Text="日期控件（最小日期和最大日期）" NavigateUrl="~/form/calendar_mindate.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="输入框">
      <TreeNode Text="文本框" NavigateUrl="~/form/textbox.aspx" >
      </TreeNode>
      <TreeNode Text="文本框自动回发" NavigateUrl="~/form/textbox_autopostback.aspx" >
      </TreeNode>
      <TreeNode Text="自动扩展高度" NavigateUrl="~/form/textarea_autogrow.aspx" >
      </TreeNode>
      <TreeNode Text="富文本编辑器" NavigateUrl="~/form/htmleditor.aspx" >
      </TreeNode>
      <TreeNode Text="触发器输入框" NavigateUrl="~/form/triggerbox.aspx" >
      </TreeNode>
      <TreeNode Text="两个触发器输入框" NavigateUrl="~/form/twintriggerbox.aspx" >
      </TreeNode>
      <TreeNode Text="数字输入框" NavigateUrl="~/form/numberbox.aspx" >
      </TreeNode>
      <TreeNode Text="日期选择框" NavigateUrl="~/form/datepicker.aspx" >
      </TreeNode>
      <TreeNode Text="日期选择框（自动回发）" NavigateUrl="~/form/datepicker_autopostback.aspx" >
      </TreeNode>
      <TreeNode Text="日期选择框（限制范围）" NavigateUrl="~/form/datepicker_range.aspx" >
      </TreeNode>
      <TreeNode Text="时间选择框" NavigateUrl="~/form/timepicker.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="选择框">
      <TreeNode Text="复选框" NavigateUrl="~/form/checkbox.aspx" >
      </TreeNode>
      <TreeNode Text="复选框列表" NavigateUrl="~/form/checkboxlist.aspx" >
      </TreeNode>
      <TreeNode Text="更新复选框列表" NavigateUrl="~/form/checkboxlist_update.aspx" >
      </TreeNode>
      <TreeNode Text="单选框" NavigateUrl="~/form/radiobutton.aspx" >
      </TreeNode>
      <TreeNode Text="单选框列表" NavigateUrl="~/form/radiobuttonlist.aspx" >
      </TreeNode>
      <TreeNode Text="更新单选框列表" NavigateUrl="~/form/radiobuttonlist_update.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="表单验证">
      <TreeNode Text="表单验证" NavigateUrl="~/form/form_compare.aspx" >
      </TreeNode>
      <TreeNode Text="验证多个表单" NavigateUrl="~/form/form.aspx" >
      </TreeNode>
      <TreeNode Text="服务器端验证" NavigateUrl="~/form/form_validate.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="上传控件">
      <TreeNode Text="上传控件" NavigateUrl="~/form/fileupload.aspx" >
      </TreeNode>
      <TreeNode Text="上传控件（自动回发）" NavigateUrl="~/form/fileupload_autopostback.aspx" >
      </TreeNode>
      <TreeNode Text="工具栏中的上传控件" NavigateUrl="~/form/fileupload_toolbar.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="表单布局">
      <TreeNode Text="按钮与表单" NavigateUrl="~/form/layout_panel.aspx" >
      </TreeNode>
      <TreeNode Text="复杂布局（列布局）" NavigateUrl="~/form/layout_panel_column.aspx" >
      </TreeNode>
      <TreeNode Text="复杂布局（联系我们）" NavigateUrl="~/form/layout_contactus.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="复杂布局（账单信息）" NavigateUrl="~/form/layout_checkout.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="按钮水平居中" NavigateUrl="~/form/form_center_button.aspx" >
      </TreeNode>
      <TreeNode Text="标签文本水平居中" NavigateUrl="~/form/layout_center_label.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="表单中的多行按钮" NavigateUrl="~/form/layout_multiline_buttons.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="下拉列表控件">
      <TreeNode Text="下拉列表" NavigateUrl="~/dropdownlist/dropdownlist.aspx" >
      </TreeNode>
      <!--<TreeNode Text="下拉列表（选项值可为空）" NavigateUrl="~/dropdownlist/dropdownlist_emptyvalue.aspx" >
      </TreeNode>-->
      <TreeNode Text="下拉列表（可编辑，强制选择）" NavigateUrl="~/dropdownlist/dropdownlist_enableedit.aspx" >
      </TreeNode>
      <TreeNode Text="下拉列表（可编辑，不强制选择）" NavigateUrl="~/dropdownlist/dropdownlist_forceselection.aspx" >
      </TreeNode>
      <TreeNode Text="数据绑定">
        <TreeNode Text="绑定到简单列表" NavigateUrl="~/dropdownlist/databind/dropdownlist_simplelist.aspx" >
        </TreeNode>
        <TreeNode Text="绑定到复合列表" NavigateUrl="~/dropdownlist/databind/dropdownlist_compositelist.aspx" >
        </TreeNode>
        <TreeNode Text="绑定到 DataTable" NavigateUrl="~/dropdownlist/databind/dropdownlist_datatable.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="多选">
        <TreeNode Text="多选" NavigateUrl="~/dropdownlist/multiselect.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="多选（可编辑，强制选择）" NavigateUrl="~/dropdownlist/multiselect_enableedit.aspx" IsNew="true">
        </TreeNode>
      </TreeNode>
      <TreeNode Text="事件">
        <TreeNode Text="下拉列表（自动回发）" NavigateUrl="~/dropdownlist/dropdownlist_autopostback.aspx" >
        </TreeNode>
        <TreeNode Text="下拉列表（自动回发，可编辑，强制选择）" NavigateUrl="~/dropdownlist/dropdownlist_autopostback_enableedit.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（自动回发，可编辑，不强制选择）" NavigateUrl="~/dropdownlist/dropdownlist_autopostback_enableedit_noforceselection.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（多选，自动回发）" NavigateUrl="~/dropdownlist/multiselect_autopostback.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（多选，自动回发，可编辑，强制选择）" NavigateUrl="~/dropdownlist/multiselect_autopostback_enableedit.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（不自动回发，定义了回发事件）" NavigateUrl="~/dropdownlist/dropdownlist_no_autopostback.aspx" IsNew="true">
        </TreeNode>
      </TreeNode>
      <TreeNode Text="杂项">
        <TreeNode Text="模拟树的下拉列表" NavigateUrl="~/dropdownlist/dropdownlist_simulate_tree.aspx" >
        </TreeNode>
        <TreeNode Text="中国省市县联动" NavigateUrl="~/dropdownlist/shengshixian.aspx" >
        </TreeNode>
        <TreeNode Text="下拉列表（自动获取焦点）" NavigateUrl="~/dropdownlist/dropdownlist_focus.aspx" >
        </TreeNode>
        <TreeNode Text="下拉列表（选项值可为空）" NavigateUrl="~/dropdownlist/dropdownlist_emptyvalue.aspx" >
        </TreeNode>
        <TreeNode Text="下拉列表（初始值为空）" NavigateUrl="~/dropdownlist/dropdownlist_emptytext.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（初始值为空，可编辑，强制选择）" NavigateUrl="~/dropdownlist/dropdownlist_emptytext_enableedit.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（MatchFieldWidth）" NavigateUrl="~/dropdownlist/dropdownlist_matchfieldwidth.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（MatchFieldWidth，右侧空间不足）" NavigateUrl="~/dropdownlist/dropdownlist_matchfieldwidth_right.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（单选，滚动条）" NavigateUrl="~/dropdownlist/dropdownlist_scroll.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="下拉列表（多选，滚动条）" NavigateUrl="~/dropdownlist/dropdownlist_multiselect_scroll.aspx" IsNew="true">
        </TreeNode>
      </TreeNode>
    </TreeNode>
    <TreeNode Text="杂项">
      <TreeNode Text="重置表单" NavigateUrl="~/form/form_reset.aspx" >
      </TreeNode>
      <TreeNode Text="动态创建表单元素" NavigateUrl="~/form/form_dynamic.aspx" >
      </TreeNode>
      <TreeNode Text="隐藏表单字段" NavigateUrl="~/form/form_hide_field.aspx" >
      </TreeNode>
      <TreeNode Text="禁用与只读" NavigateUrl="~/form/form_disabled.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="自定义标签宽度和位置" NavigateUrl="~/form/form_labelwidth.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="标签换行" NavigateUrl="~/form/form_longlabel.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="ColumnWidths混合使用百分比和固定宽度" NavigateUrl="~/form/form_columnwidths.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="输入框文本居中" NavigateUrl="~/form/form_textalign.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="自定义触发器输入框图标" NavigateUrl="~/form/triggerbox_triggerboxurl.aspx" IsNew="true" >
      </TreeNode>
    </TreeNode>
  </TreeNode>
  <TreeNode Text="表格控件" Icon="ApplicationViewColumns">
    <TreeNode Text="基本用法">
      <TreeNode Text="表格（FineUI）" NavigateUrl="~/grid/grid.aspx" >
      </TreeNode>
      <TreeNode Text="表格（AspNet）" NavigateUrl="~/grid/grid_aspnet.aspx" >
      </TreeNode>
      <TreeNode Text="内存分页（FineUI）" NavigateUrl="~/grid/grid_paging_fineui.aspx" >
      </TreeNode>
      <TreeNode Text="内存分页（AspNet）" NavigateUrl="~/grid/grid_paging_aspnet.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="分页与排序">
      <TreeNode Text="排序" NavigateUrl="~/grid/grid_sorting.aspx" >
      </TreeNode>
      <TreeNode Text="内存分页" NavigateUrl="~/grid/grid_paging.aspx" >
      </TreeNode>
      <TreeNode Text="数据库分页" NavigateUrl="~/grid/grid_paging_database.aspx" >
      </TreeNode>
      <TreeNode Text="内存分页与排序" NavigateUrl="~/grid/grid_paging_sorting.aspx" >
      </TreeNode>
      <TreeNode Text="数据库分页与排序" NavigateUrl="~/grid/grid_paging_database_sorting.aspx" >
      </TreeNode>
      <TreeNode Text="内存分页（跨页保持选中行）" NavigateUrl="~/grid/grid_paging_selection.aspx" >
      </TreeNode>
      <TreeNode Text="数据库分页（跨页保持选中行）" NavigateUrl="~/grid/grid_paging_database_selection.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="序号列">
      <TreeNode Text="序号列（内存分页）" NavigateUrl="~/grid/grid_rownumber_paging.aspx" >
      </TreeNode>
      <TreeNode Text="序号列（数据库分页）" NavigateUrl="~/grid/grid_rownumber_paging_database.aspx" >
      </TreeNode>
      <TreeNode Text="序号列（自定义宽度）" NavigateUrl="~/grid/grid_rownumber_width.aspx" >
      </TreeNode>
      <TreeNode Text="序号列（靠左显示）" NavigateUrl="~/grid/grid_rownumber_align.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="行选择">
      <TreeNode Text="行选择（多选）" NavigateUrl="~/grid/grid_checkall.aspx" >
      </TreeNode>
      <TreeNode Text="行选择（单选）" NavigateUrl="~/grid/grid_checkall_singleselect.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="行选择（只能通过全选框选中行）" NavigateUrl="~/grid/grid_checkall_only.aspx" >
      </TreeNode>
      <TreeNode Text="行选择（保持选中行）" NavigateUrl="~/grid/grid_checkall_keepcurrentselection.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="扩展列">
      <TreeNode Text="行扩展列" NavigateUrl="~/grid/grid_rowexpander.aspx" >
      </TreeNode>
      <TreeNode Text="行扩展列（展开全部）" NavigateUrl="~/grid/grid_rowexpander_expandall.aspx" >
      </TreeNode>
      <TreeNode Text="行扩展列（嵌套表格）" NavigateUrl="~/grid/grid_rowexpander_grid.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="弹出窗体列" NavigateUrl="~/grid/grid_iframe.aspx" >
      </TreeNode>
      <TreeNode Text="模拟树列" NavigateUrl="~/grid/grid_simulate_tree.aspx" >
      </TreeNode>
      <TreeNode Text="模拟树列（数据库分页）" NavigateUrl="~/grid/grid_simulate_tree_database_paging.aspx" >
      </TreeNode>
      <TreeNode Text="模拟树列（数据库分页，下拉列表定位省份）" NavigateUrl="~/grid/grid_simulate_tree_database_paging_dropdownlist.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="事件">
      <TreeNode Text="行内按钮事件" NavigateUrl="~/grid/grid_rowcommand.aspx" >
      </TreeNode>
      <TreeNode Text="行内按钮事件（内存分页）" NavigateUrl="~/grid/grid_rowcommand_paging.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="行内按钮事件（数据库分页）" NavigateUrl="~/grid/grid_rowcommand_paging_database.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="行绑定事件" NavigateUrl="~/grid/grid_rowdatabound.aspx" >
      </TreeNode>
      <TreeNode Text="行预绑定事件" NavigateUrl="~/grid/grid_prerowdatabound.aspx" >
      </TreeNode>
      <TreeNode Text="行预绑定事件（Cancelled属性）" IsNew="true" NavigateUrl="~/grid/grid_prerowdatabound_cancelled.aspx" >
      </TreeNode>
      <TreeNode Text="行单击回发事件" NavigateUrl="~/grid/grid_rowclick.aspx">
      </TreeNode>
      <TreeNode Text="行双击回发事件" NavigateUrl="~/grid/grid_rowdoubleclick.aspx">
      </TreeNode>
      <TreeNode Text="行选中事件（取消选中事件）" NavigateUrl="~/grid/grid_rowselect.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="复选框列">
      <TreeNode Text="复选框列" NavigateUrl="~/grid/grid_checkboxfield.aspx" >
      </TreeNode>
      <TreeNode Text="复选框列（自动回发）" NavigateUrl="~/grid/grid_checkboxfield_autopostback.aspx" >
      </TreeNode>
      <TreeNode Text="全选复选框列" NavigateUrl="~/grid/grid_checkboxfield_rowcheckall.aspx" >
      </TreeNode>
      <TreeNode Text="全选复选框列（客户端实现）" NavigateUrl="~/grid/grid_checkboxfield_rowcheckall_clientside.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="动态创建列">
      <TreeNode Text="动态创建的列" NavigateUrl="~/grid/grid_dynamic_columns.aspx" >
      </TreeNode>
      <TreeNode Text="动态创建的模板列" NavigateUrl="~/grid/grid_dynamic_columns2.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="导出与下载">
      <TreeNode Text="导出文件（ASP.NET的GridView控件）" NavigateUrl="~/grid/grid_excel_aspnet.aspx" >
      </TreeNode>
      <TreeNode Text="导出文件（RenderControl，重新渲染模板列）" NavigateUrl="~/grid/grid_excel.aspx" >
      </TreeNode>
      <TreeNode Text="导出文件（动态创建的模版列）" NavigateUrl="~/grid/grid_excel_dynamic_columns.aspx" >
      </TreeNode>
      <TreeNode Text="导出文件（选择需要导出的列）" NavigateUrl="~/grid/grid_excel_selectcolumns.aspx" >
      </TreeNode>
      <TreeNode Text="导出文件（FindControl，查找模板列中控件）" NavigateUrl="~/grid/grid_excel_findcontrol.aspx" >
      </TreeNode>
      <TreeNode Text="导出文件（多表头）" NavigateUrl="~/grid/grid_excel_groupfield.aspx" >
      </TreeNode>
      <TreeNode Text="行内下载" NavigateUrl="~/grid/grid_rowcommand_download.aspx" >
      </TreeNode>
      <TreeNode Text="导出文件（双击下载）" NavigateUrl="~/grid/grid_excel_dblclick_download.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="分页工具栏">
      <TreeNode Text="重新绑定数据" NavigateUrl="~/grid/grid_pageitems.aspx" >
      </TreeNode>
      <TreeNode Text="显示隐藏行扩展列" NavigateUrl="~/grid/grid_pageitems_rowexpander.aspx" >
      </TreeNode>
      <TreeNode Text="改变每页记录数" NavigateUrl="~/grid/grid_pageitems_pagesize.aspx" >
      </TreeNode>
      <TreeNode Text="改变每页记录数（数据库分页）" NavigateUrl="~/grid/grid_pageitems_pagesize_database.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="列宽度">
      <TreeNode Text="固定各列宽度" NavigateUrl="~/grid/grid_width.aspx" >
      </TreeNode>
      <TreeNode Text="自适应列（一列）" NavigateUrl="~/grid/grid_width_expandunusedspace.aspx" >
      </TreeNode>
      <TreeNode Text="自适应列（多列）" NavigateUrl="~/grid/grid_width_boxflex.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="各列宽度自适应" NavigateUrl="~/grid/grid_width_forcefit.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="各列宽度自适应（最小列宽度）" NavigateUrl="~/grid/grid_width_forcefit_minwidth.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="标题栏菜单">
      <TreeNode Text="隐藏标题栏" NavigateUrl="~/grid/grid_header_hide.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="禁用表头菜单" NavigateUrl="~/grid/grid_header_disablemenu.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="模板列">
      <TreeNode Text="编辑文本框" NavigateUrl="~/grid/grid_edit.aspx" >
      </TreeNode>
      <TreeNode Text="编辑下拉列表" NavigateUrl="~/grid/grid_edit_dropdownlist.aspx" >
      </TreeNode>
      <TreeNode Text="编辑下拉列表（后台绑定数据）" NavigateUrl="~/grid/grid_edit_dropdownlist2.aspx" >
      </TreeNode>
      <TreeNode Text="后台更新下拉列表" NavigateUrl="~/grid/grid_edit_dropdownlist_update.aspx" >
      </TreeNode>
      <TreeNode Text="编辑单选框列表" NavigateUrl="~/grid/grid_edit_radiobuttonlist.aspx" >
      </TreeNode>
      <TreeNode Text="编辑复选框列表" NavigateUrl="~/grid/grid_edit_checkboxlist.aspx" >
      </TreeNode>
      <TreeNode Text="比较两个模板列的值" NavigateUrl="~/grid/grid_edit_compare.aspx" >
      </TreeNode>
      <TreeNode Text="下拉列表同步到文本框" NavigateUrl="~/grid/grid_edit_dropdownlist_textbox.aspx" >
      </TreeNode>
      <TreeNode Text="定时保存用户输入的值" NavigateUrl="~/grid/grid_edit_save_auto.aspx" >
      </TreeNode>
      <TreeNode Text="遍历表格内所有输入框（纵向）" NavigateUrl="~/grid/grid_edit_enterkey_v.aspx" >
      </TreeNode>
      <TreeNode Text="遍历表格内所有输入框（横向）" NavigateUrl="~/grid/grid_edit_enterkey_h.aspx" >
      </TreeNode>
      <TreeNode Text="购物车" NavigateUrl="~/grid/grid_edit_cart.aspx" IsNew="true" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="多表头">
      <TreeNode Text="多表头" NavigateUrl="~/grid/grid_groupheader.aspx" >
      </TreeNode>
      <TreeNode Text="多表头（排序）" NavigateUrl="~/grid/grid_groupheader_sort.aspx" >
      </TreeNode>
      <TreeNode Text="多表头（初始隐藏列）" NavigateUrl="~/grid/grid_groupheader_hidden.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="合计行">
      <TreeNode Text="合计行" NavigateUrl="~/grid/grid_summary.aspx" >
      </TreeNode>
      <TreeNode Text="合计行（当前页合计）" NavigateUrl="~/grid/grid_summary_currentpage.aspx" >
      </TreeNode>
      <TreeNode Text="合计行（横向纵向滚动条）" NavigateUrl="~/grid/grid_summary_scrollbar_flow.aspx" >
      </TreeNode>
      <TreeNode Text="合计行（浮动到底部，横向纵向滚动条）" NavigateUrl="~/grid/grid_summary_scrollbar_bottom.aspx" >
      </TreeNode>
      <TreeNode Text="合计行（浮动到顶部，横向纵向滚动条，当前页合计）" NavigateUrl="~/grid/grid_summary_scrollbar_top.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="单元格编辑">
      <TreeNode Text="单元格编辑" NavigateUrl="~/grid/grid_editor_cell.aspx" >
      </TreeNode>
      <TreeNode Text="单元格渲染函数（RendererFunction）" NavigateUrl="~/grid/grid_editor_cell_renderfunction.aspx" >
      </TreeNode>
      <TreeNode Text="新增删除">
        <TreeNode Text="服务器端删除行" NavigateUrl="~/grid/grid_editor_cell_delete.aspx" >
        </TreeNode>
        <TreeNode Text="新增行" NavigateUrl="~/grid/grid_editor_cell_new.aspx" >
        </TreeNode>
        <TreeNode Text="新增行（定位到某一列）" NavigateUrl="~/grid/grid_editor_cell_new_editcolumnid.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="新增行与删除行" NavigateUrl="~/grid/grid_editor_cell_newdelete.aspx" >
        </TreeNode>
        <TreeNode Text="新增行与删除行（GetMergedData）" NavigateUrl="~/grid/grid_editor_cell_newdelete_getmergeddata.aspx" IsNew="true">
        </TreeNode>
      </TreeNode>
      <TreeNode Text="结束编辑">
        <TreeNode Text="结束编辑" NavigateUrl="~/grid/grid_editor_cell_afteredit.aspx" >
        </TreeNode>
        <TreeNode Text="结束编辑（姓名不能为空）" NavigateUrl="~/grid/grid_editor_cell_client_validate.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="结束编辑（高亮单元格）" NavigateUrl="~/grid/grid_editor_cell_renderfunction_complex.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="结束编辑（更新单元格的值）" NavigateUrl="~/grid/grid_editor_cell_updatecellvalue.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="结束编辑（更新非可编辑单元格的值）" NavigateUrl="~/grid/grid_editor_cell_updatecellvalue_noedit.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="结束编辑（绑定数据后选中单元格）" NavigateUrl="~/grid/grid_editor_cell_afteredit_selectcell.aspx" IsNew="true">
        </TreeNode>
      </TreeNode>
      <TreeNode Text="杂项">
        <TreeNode Text="后台绑定下拉列表" NavigateUrl="~/grid/grid_editor_cell_databind.aspx" >
        </TreeNode>
        <TreeNode Text="行扩展列与单元格编辑" NavigateUrl="~/grid/grid_editor_cell_afteredit_rowexpander.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="行扩展列与新增删除行" NavigateUrl="~/grid/grid_editor_cell_newdelete_rowexpander.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="多行文本输入框" NavigateUrl="~/grid/grid_editor_cell_textarea.aspx" IsNew="true" >
        </TreeNode>
      </TreeNode>
    </TreeNode>
    <TreeNode Text="列锁定">
      <TreeNode Text="列锁定" NavigateUrl="~/grid/grid_lockcolumn.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="列锁定（行扩展列）" NavigateUrl="~/grid/grid_lockcolumn_rowexpander.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="列锁定（多表头）" NavigateUrl="~/grid/grid_lockcolumn_groupheader_sort.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="列锁定（合计行）" NavigateUrl="~/grid/grid_lockcolumn_summary_scrollbar.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="列锁定（单元格编辑）" NavigateUrl="~/grid/grid_lockcolumn_editor_cell_new.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="列锁定（自动换行）" NavigateUrl="~/grid/grid_lockcolumn_line_wrap.aspx" IsNew="true">
      </TreeNode>
      <!--<TreeNode Text="列锁定（多列，多行，行高不同）" NavigateUrl="~/grid/grid_lockcolumn_many_columns.aspx" >
      </TreeNode>-->
    </TreeNode>
    <TreeNode Text="行与列样式">
      <TreeNode Text="行样式" NavigateUrl="~/grid/grid_style_rowcolor.aspx" >
      </TreeNode>
      <TreeNode Text="行样式（数据库分页）" NavigateUrl="~/grid/grid_style_rowcolor_paging_database.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="行样式（内存分页）" NavigateUrl="~/grid/grid_style_rowcolor_paging.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="列样式" NavigateUrl="~/grid/grid_style_columnclass.aspx" IsNew="true" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="杂项">
      <TreeNode Text="主从表联动" NavigateUrl="~/grid/grid_twogrid.aspx" >
      </TreeNode>
      <TreeNode Text="文本居中显示（标题靠左）" NavigateUrl="~/grid/grid_centercolumn.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="显示隐藏列" NavigateUrl="~/grid/grid_hidecolumn.aspx" >
      </TreeNode>
      <TreeNode Text="绑定到二级属性" NavigateUrl="~/grid/grid_complex_property.aspx" >
      </TreeNode>
      <TreeNode Text="启用文字选择" NavigateUrl="~/grid/grid_textselection.aspx" >
      </TreeNode>
      <TreeNode Text="文字垂直靠上显示" NavigateUrl="~/grid/grid_text_top.aspx" >
      </TreeNode>
      <TreeNode Text="列分割线" NavigateUrl="~/grid/grid_column_lines.aspx" >
      </TreeNode>
      <TreeNode Text="表格为空的提示" NavigateUrl="~/grid/grid_empty_text.aspx" >
      </TreeNode>
      <TreeNode Text="自动换行" NavigateUrl="~/grid/grid_line_wrap.aspx" >
      </TreeNode>
      <TreeNode Text="右键菜单(全选复选框列）" NavigateUrl="~/grid/grid_checkboxfield_rowcheckall_contextmenu.aspx" >
      </TreeNode>
      <TreeNode Text="隐藏表格标题栏" NavigateUrl="~/grid/grid_hide_gridheader.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="底部工具栏（分页栏也存在）" NavigateUrl="~/grid/grid_paging_database_bbar.aspx" IsNew="true" >
      </TreeNode>
    </TreeNode>
  </TreeNode>
  <TreeNode Text="更多控件" Icon="Bricks">
    <TreeNode Text="树控件">
      <TreeNode Text="简单树控件" NavigateUrl="~/tree/tree.aspx" >
      </TreeNode>
      <TreeNode Text="图标与链接" NavigateUrl="~/tree/tree_icon.aspx" >
      </TreeNode>
      <TreeNode Text="延迟加载的树控件" NavigateUrl="~/tree/tree_ajax.aspx" >
      </TreeNode>
      <TreeNode Text="数据绑定">
        <TreeNode Text="绑定到 XmlDocument" NavigateUrl="~/tree/databind/tree_document.aspx" >
        </TreeNode>
        <TreeNode Text="绑定到 XmlDataSource" NavigateUrl="~/tree/databind/tree_datasource.aspx" >
        </TreeNode>
        <TreeNode Text="绑定到 SiteMap" NavigateUrl="~/tree/databind/tree_sitemap.aspx" >
        </TreeNode>
        <TreeNode Text="绑定到 DataTable" NavigateUrl="~/tree/databind/tree_datatable.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="复选框">
        <TreeNode Text="简单复选框" NavigateUrl="~/tree/checkbox/tree_checked.aspx" >
        </TreeNode>
        <TreeNode Text="全选与反选" NavigateUrl="~/tree/checkbox/tree_checkall.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="行选择">
        <TreeNode Text="选中一行" NavigateUrl="~/tree/select/tree_select.aspx" >
        </TreeNode>
        <TreeNode Text="选中多行" NavigateUrl="~/tree/select/tree_multi_select.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="事件">
        <TreeNode Text="选中行事件" NavigateUrl="~/tree/select/tree_nodecommand.aspx" >
        </TreeNode>
        <TreeNode Text="展开折叠事件" NavigateUrl="~/tree/tree_expand.aspx" >
        </TreeNode>
        <TreeNode Text="节点绑定事件" NavigateUrl="~/tree/tree_nodedatabound.aspx" IsNew="true">
        </TreeNode>
      </TreeNode>
      <TreeNode Text="杂项">
        <TreeNode Text="右键菜单（展开全部子节点）" NavigateUrl="~/tree/tree_contextmenu.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="同级节点只能展开一个" NavigateUrl="~/tree/tree_singleexpand.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="启用文字选择" NavigateUrl="~/tree/tree_textselection.aspx" IsNew="true">
        </TreeNode>
        <TreeNode Text="节点样式" NavigateUrl="~/tree/tree_node_cssclass.aspx" IsNew="true">
        </TreeNode>
      </TreeNode>
    </TreeNode>
    <TreeNode Text="选项卡控件">
      <TreeNode Text="基本用法" NavigateUrl="~/tabstrip/tabstrip.aspx" >
      </TreeNode>
      <TreeNode Text="自动回发" NavigateUrl="~/tabstrip/tabstrip_autopostback.aspx" >
      </TreeNode>
      <TreeNode Text="关闭按钮" NavigateUrl="~/tabstrip/tabstrip_enableclose.aspx"  >
      </TreeNode>
      <TreeNode Text="动态添加标签" NavigateUrl="~/tabstrip/tabstrip_addtab.aspx"  >
      </TreeNode>
      <TreeNode Text="内嵌 IFrame" NavigateUrl="~/tabstrip/tabstrip_iframe.aspx" >
      </TreeNode>
      <TreeNode Text="内嵌 IFrame（在IFrame内启用标签）" NavigateUrl="~/tabstrip/tabstrip_iframe_disabled.aspx" >
      </TreeNode>
      <TreeNode Text="选项卡的位置" NavigateUrl="~/tabstrip/tabstrip_position.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="手风琴控件">
      <TreeNode Text="手风琴" NavigateUrl="~/accordion/accordion.aspx" >
      </TreeNode>
      <TreeNode Text="手风琴（自动回发）" NavigateUrl="~/accordion/accordion_autopostback.aspx" >
      </TreeNode>
      <TreeNode Text="手风琴（树控件）" NavigateUrl="~/accordion/accordion_tree.aspx" >
      </TreeNode>
      <TreeNode Text="手风琴（禁用填充）" NavigateUrl="~/accordion/accordion_fill.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="面板与窗体">
      <TreeNode Text="面板" NavigateUrl="~/window/panel.aspx" >
      </TreeNode>
      <TreeNode Text="面板的折叠事件" NavigateUrl="~/window/panel_collapse.aspx" >
      </TreeNode>
      <TreeNode Text="面板（初始禁用）" NavigateUrl="~/window/panel_disabled.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="分组面板" NavigateUrl="~/window/group_panel.aspx" >
      </TreeNode>
      <TreeNode Text="窗体" NavigateUrl="~/window/window.aspx" >
      </TreeNode>
      <TreeNode Text="窗体（最大化）" NavigateUrl="~/window/window_maximized.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="窗体（固定最大化）" NavigateUrl="~/window/window_maximized_fixed.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="窗体（限制最小和最大尺寸）" NavigateUrl="~/window/window_minwidth.aspx" IsNew="true" >
      </TreeNode>
      <TreeNode Text="窗体与工具栏" NavigateUrl="~/window/window_toolbar.aspx" >
      </TreeNode>
      <TreeNode Text="窗体与表单" NavigateUrl="~/window/window_form.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="同时打开多个窗体" NavigateUrl="~/window/window_multi.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="工具栏和菜单">
      <TreeNode Text="内联菜单" NavigateUrl="~/toolbar/menu.aspx" >
      </TreeNode>
      <TreeNode Text="内联菜单（HideOnClick）" NavigateUrl="~/toolbar/menu_hideonclick.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="动态添加工具栏菜单" NavigateUrl="~/toolbar/menu_dynamic.aspx" >
      </TreeNode>
      <TreeNode Text="向工具栏中动态添加按钮" NavigateUrl="~/toolbar/menu_dynamic2.aspx" >
      </TreeNode>
      <TreeNode Text="工具栏与IFrame页面" NavigateUrl="~/toolbar/toolbar_iframe.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="单选框与复选框菜单" NavigateUrl="~/toolbar/menucheckbox.aspx" >
      </TreeNode>
      <TreeNode Text="多行工具栏" NavigateUrl="~/toolbar/multi_toolbars.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="工具栏上的表单字段" NavigateUrl="~/toolbar/formfields.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="工具栏上的图片（固定宽度）" NavigateUrl="~/toolbar/toolbar_images_fixedwidth.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="工具栏上的图片（动态调整）" NavigateUrl="~/toolbar/toolbar_images.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="工具栏布局（左中右）" NavigateUrl="~/toolbar/toolbar_fill.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="用户控件">
      <TreeNode Text="用户控件" NavigateUrl="~/usercontrol/userinfo.aspx" >
      </TreeNode>
      <TreeNode Text="动态添加用户控件" NavigateUrl="~/usercontrol/userinfo_dynamic.aspx" >
      </TreeNode>
      <TreeNode Text="用户控件与布局" NavigateUrl="~/usercontrol/userinfo2.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="母版页">
      <TreeNode Text="树（布局）" NavigateUrl="~/master/simple.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="表格（布局、接口与动态加载）" NavigateUrl="~/master/list.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="表格与表单（布局、接口与动态加载）" NavigateUrl="~/master/formlist.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
  </TreeNode>
  <TreeNode Text="页面布局" Icon="LayoutContent">
    <TreeNode Text="布局（Fit）" NavigateUrl="~/layout/fit.aspx" >
    </TreeNode>
    <TreeNode Text="布局（Anchor）" NavigateUrl="~/layout/anchor.aspx" >
    </TreeNode>
    <TreeNode Text="布局（Column）" NavigateUrl="~/layout/column.aspx" >
    </TreeNode>
    <TreeNode Text="布局（Column，纵向滚动条）" NavigateUrl="~/layout/column_scrollbar.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（Column，自动高度）" NavigateUrl="~/layout/column_autoheight.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（Absolute）" NavigateUrl="~/layout/absolute.aspx"  >
    </TreeNode>
    <TreeNode Text="布局（Table）" NavigateUrl="~/layout/table.aspx"  >
    </TreeNode>
    <TreeNode Text="布局（Table，Table布局的表单）" NavigateUrl="~/layout/table_form.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（HBox）" NavigateUrl="~/layout/hbox.aspx"  >
    </TreeNode>
    <TreeNode Text="布局（HBox，横向滚动条）" NavigateUrl="~/layout/hbox_scrollbar.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（HBox，自动高度）" NavigateUrl="~/layout/hbox_autoheight.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（HBox，自动高度，多层嵌套）" NavigateUrl="~/layout/hbox_autoheight_multilevels.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（HBox，横向表单）" NavigateUrl="~/layout/hbox_form.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（VBox）" NavigateUrl="~/layout/vbox.aspx"  >
    </TreeNode>
    <TreeNode Text="布局（VBox，纵向滚动条）" NavigateUrl="~/layout/vbox_scrollbar.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（VBox，自动高度）" NavigateUrl="~/layout/vbox_autoheight.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（VBox，表单）" NavigateUrl="~/layout/vbox_form.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（VBox，表单与表格，纵向滚动条）" NavigateUrl="~/layout/vbox_formgrid.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（VBox，折叠面板）" NavigateUrl="~/layout/vbox_collapse.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（VBox+HBox，平分当前页面）" NavigateUrl="~/layout/vbox_hbox.aspx" IsNew="true" >
    </TreeNode>
    <TreeNode Text="布局（Region）" NavigateUrl="~/layout/region.aspx" IsNew="true" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="内联框架" Icon="ApplicationDouble">
    <TreeNode Text="弹出窗体（本页面或父页面）" NavigateUrl="~/iframe/button_iframe.aspx" >
    </TreeNode>
    <TreeNode Text="表格与编辑窗体" NavigateUrl="~/iframe/grid_iframe.aspx" >
    </TreeNode>
    <TreeNode Text="子窗口向父窗口传值" NavigateUrl="~/iframe/passvalue_iframe.aspx" >
    </TreeNode>
    <TreeNode Text="新窗口中选择省份（JavaScript实现）" NavigateUrl="~/iframe/selectprovince1.aspx" >
    </TreeNode>
    <TreeNode Text="新窗口中选择省份（GetHidePostBackReference）" NavigateUrl="~/iframe/selectprovince3.aspx" >
    </TreeNode>
    <TreeNode Text="新窗口中选择省份（GetHideExecuteScriptReference）" NavigateUrl="~/iframe/selectprovince_executescript.aspx" IsNew="true">
    </TreeNode>
    <TreeNode Text="触发器输入框（传值）" NavigateUrl="~/iframe/triggerbox_iframe.aspx" >
    </TreeNode>
    <TreeNode Text="窗体中的窗体" NavigateUrl="~/iframe/iframe_iframe.aspx">
    </TreeNode>
    <TreeNode Text="回发父页面" NavigateUrl="~/iframe/parent_postback.aspx" >
    </TreeNode>
    <TreeNode Text="回发父页面（改变属性或者注册脚本）" NavigateUrl="~/iframe/parent_postback_top.aspx" IsNew="true">
    </TreeNode>
    <TreeNode Text="顶部菜单框架（左侧树）" NavigateUrl="~/iframe/topmenu/default.aspx" >
    </TreeNode>
    <TreeNode Text="顶部菜单框架（左侧IFrame中的树）" NavigateUrl="~/iframe/topmenu2/default.aspx" >
    </TreeNode>
    <TreeNode Text="顶部菜单框架（左侧IFrame中的手风琴）" NavigateUrl="~/iframe/topmenu3/default.aspx" >
    </TreeNode>
    <TreeNode Text="顶部菜单框架（右侧选项卡）" NavigateUrl="~/iframe/topmenu4/default.aspx" >
    </TreeNode>
    <TreeNode Text="窗体关闭前的确认对话框" NavigateUrl="~/iframe/window.aspx" >
    </TreeNode>
    <TreeNode Text="保存按钮放在窗体工具栏中" NavigateUrl="~/iframe/window2.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="其他杂项" Icon="AsteriskOrange">
    <TreeNode Text="第三方组件">
      <TreeNode Text="My97日期控件">
        <TreeNode Text="My97日期控件" NavigateUrl="~/third-party/my97/my97.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="jQueryUI Autocomplete">
        <TreeNode Text="内联数据" NavigateUrl="~/third-party/autocomplete/inline.aspx" >
        </TreeNode>
        <TreeNode Text="内联数据（位于Window控件中）" NavigateUrl="~/third-party/autocomplete/inline_window.aspx" IsNew="true" >
        </TreeNode>
        <TreeNode Text="自动补全邮件地址" NavigateUrl="~/third-party/autocomplete/email.aspx" >
        </TreeNode>
        <TreeNode Text="多行显示补全数据" NavigateUrl="~/third-party/autocomplete/custom_display.aspx" >
        </TreeNode>
        <TreeNode Text="输入逗号分隔的多个值" NavigateUrl="~/third-party/autocomplete/multi_values.aspx" >
        </TreeNode>
        <TreeNode Text="输入多值（数据来自远程服务器）" NavigateUrl="~/third-party/autocomplete/multi_values_remote.aspx" >
        </TreeNode>
        <TreeNode Text="客户端缓存（数据来自远程服务器）" NavigateUrl="~/third-party/autocomplete/remote_with_cache.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="UMEditor">
        <TreeNode Text="UMEditor" NavigateUrl="~/third-party/umeditor/umeditor.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="UEditor">
        <TreeNode Text="UEditor" NavigateUrl="~/third-party/ueditor/ueditor.aspx" >
        </TreeNode>
        <TreeNode Text="UEditor（两个编辑器）" NavigateUrl="~/third-party/ueditor/ueditor_two.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="CKEditor">
        <TreeNode Text="CKEditor" NavigateUrl="~/third-party/ckeditor/ckeditor.aspx" >
        </TreeNode>
      </TreeNode>
      <TreeNode Text="TinyMCE">
        <TreeNode Text="TinyMCE" NavigateUrl="~/third-party/tinymce/tinymce.aspx" >
        </TreeNode>
      </TreeNode>
    </TreeNode>
    <TreeNode Text="ASP.NET控件">
      <TreeNode Text="ASP.NET 控件" NavigateUrl="~/aspnet/aspnet.aspx" >
      </TreeNode>
      <TreeNode Text="Label与Literal的区别" NavigateUrl="~/aspnet/aspnet_literal.aspx" >
      </TreeNode>
    </TreeNode>
    <TreeNode Text="消息框">
      <TreeNode Text="自定义对话框图标" NavigateUrl="~/message/alert.aspx">
      </TreeNode>
      <TreeNode Text="响应确认对话框的按钮" NavigateUrl="~/message/confirm_cancel.aspx">
      </TreeNode>
      <TreeNode Text="响应确认对话框的按钮（PageManager的CustomEvent事件）" NavigateUrl="~/message/confirm_cancel_customevent.aspx">
      </TreeNode>
      <TreeNode Text="响应确定按钮（点击确定按钮后，下载文件）" NavigateUrl="~/message/alert_download.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="响应确定按钮（点击确定按钮后，先隐藏窗体再下载文件）" NavigateUrl="~/message/alert_download_hide.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="响应确定按钮（点击确定按钮后，先隐藏IFrame窗体再下载文件）" NavigateUrl="~/message/alert_download_hideiframe.aspx" IsNew="true">
      </TreeNode>
      <TreeNode Text="自定义对话框按钮文本" NavigateUrl="~/message/confirm_buttons.aspx" IsNew="true">
      </TreeNode>
    </TreeNode>
    <TreeNode Text="页面回发提示" NavigateUrl="~/other/ajax_loading.aspx">
    </TreeNode>
    <TreeNode Text="定时器" NavigateUrl="~/other/timer.aspx" >
    </TreeNode>
    <TreeNode Text="自定义回发（__doPostBack）" NavigateUrl="~/other/custom_postback.aspx">
    </TreeNode>
    <TreeNode Text="自定义回发（F.customEvent）" NavigateUrl="~/other/custom_postback2.aspx">
    </TreeNode>
    <TreeNode Text="文本框改变客户端事件" NavigateUrl="~/other/keydown.aspx">
    </TreeNode>
    <TreeNode Text="CssClass属性" NavigateUrl="~/other/cssstyle.aspx">
    </TreeNode>
    <TreeNode Text="向父页面添加选项卡" NavigateUrl="~/other/addtab.aspx" IsNew="true">
    </TreeNode>
    <TreeNode Text="捕获全局JavaScript错误" NavigateUrl="~/other/global_error.aspx" IsNew="true">
    </TreeNode>
    <TreeNode Text="拦截服务器端重定向（模拟登陆超时，同步确认对话框）" NavigateUrl="~/other/authentication_timeout.aspx" IsNew="true">
    </TreeNode>
    <TreeNode Text="拦截服务器端重定向（模拟登陆超时，异步确认对话框）" NavigateUrl="~/other/authentication_timeout_async.aspx" IsNew="true">
    </TreeNode>
  </TreeNode>
</Tree>